<div>

      <div class="container py-3">
        <header>
          <div class="d-flex flex-column flex-md-row align-items-center pb-3 mb-4 border-bottom">
            <a href="#" class="d-flex align-items-center text-dark text-decoration-none">
              <span class="fs-4">VER TODO</span>
            </a>
            <nav class="d-inline-flex mt-2 mt-md-0 ms-md-auto">
              <a class="me-3 p-3 text-dark text-decoration-none bg-warning  rounded-circle" href="/">CARGA DE PRODUCTO</a>
            </nav>
          </div>
        </header>
      </div>

      <div class="container-lg p-5 ml-4  ">
        <table class="table table-dark table-striped-columns  ">
          <thead>
            <tr>
              <th scope="col">Producto</th>
              <th scope="col">Precio</th>
              <th scope="col">URL Foto</th>
            </tr>  
          </thead>
          <% productos.forEach((product)=> { %>
          <tbody>
            <tr>
              <td>
                  <%= product.title %>
              </td>
              <td>
                  <%= product.price %>
              </td>
              <td>
                  <img width="72px" height="72px" src=<%=product.thumbnail %> />
              </td>
            </tr>
            <% } ) %>
          </tbody>
  
        </table>
      </div>
</div>
