doctype html 
html(lang="es")
head
    title Desafio 5 -parte 1-Pug
    meta(charset="UTF-8")
    meta(http-equiv="X-UA-Compatible" content="IE=edge")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
body
    span Buenas tardes carga tu producto aca !
    form(method="post" action="/productos")
        input(type="text" name="title" placeholder="NOMBRE")
        input(type="text" name="thumbnail" placeholder="PRECIO") 
        input(type="number" name="price" placeholder="IMAGEN")   
          
        button AGREGAR


<a href="/productos"><button>Ver productos</button></a>